body {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 29%, rgba(0,157,255,0.40242034313725494) 100%); 
  color: black;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 29%, rgba(0,157,255,0.40242034313725494) 100%); 

}

.photo {
  height: 15em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  border-radius: 30%;
}
.photo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.photo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@media (max-width: 768px) {
  #main-content {
    flex-direction: column;
    padding: 2em;
  }
 #modal-div {
  flex-direction: column;
 }
  #intro-div {
    width: 100%;
  }
}

.card {
  color: black;
  padding: 2em;
}

.intro {
  color: black;
}

#main-content {
  display: flex;
  padding: 2em 10em;
}

#intro-div {
  display: flex;
  flex-direction: column;
  width: 20em;
}

#modal-div {
  padding: 1.5em;
  display: flex;
  align-items: center;
}

.modal-content {
  text-align: left;
}

.modal-btn {
  text-align: center;
  border-radius: 50%;
  margin: 1em;
  height: 15em;
  width: 16em;
  background-color: white;
  color: black;
}
