body {
  font-family: 'Rubik', sans-serif;
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  color: black;
  background: radial-gradient(circle at 7.5% 24%, rgb(237, 161, 193) 0%, rgb(250, 178, 172) 25.5%, rgb(190, 228, 210) 62.3%, rgb(215, 248, 247) 93.8%);
}

.photo {
  height: 20em;
  width: 20em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  border-radius: 50%;
}
.photo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.photo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .photo {
    animation: logo-spin infinite 20s linear;
  }
}

@media (max-width: 768px) {
  #main-content {
    flex-direction: column;
    padding: 2em;
  }
 #modal-div {
  display: flex;
  flex-direction: column;
 }
  #intro-div {
    width: 100%;
  }
}

.card {
  color: black;
  padding: 2em;
}

.intro {
  color: black;
}

#main-content {
  display: flex;
  padding: 2em 10em;
  display: flex;
  flex-direction: column;
  margin-bottom: -3em;
}

#intro-div {
  display: flex;
  flex-direction: column;
  width: 20em;
}

#modal-div {
  padding: 1.5em;
  display: flex;
  align-items: center;
  
}

.modal-content {
  text-align: left;
}

.modal-btn {
  text-decoration: none;
  border: 1px solid rgb(146, 148, 248);
  margin: 15px;
  position: relative;
  overflow: hidden;
}

.modal-btn:hover {
  box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
}

.modal-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(146, 148, 248, 0.4),
    transparent
  );
  transition: all 650ms;
}

.modal-btn:hover:before {
  left: 100%;
}


