@keyframes color-change {
  0%,100% {
    background-color: rgb(237, 161, 193);
  }
  50% {
    background-color: rgb(250, 178, 172);
  }
  75% {
    background-color: rgb(190, 228, 210);
  }
}

body {
  animation: 10000ms ease-in-out infinite color-change;
  width: 100%;
  max-width: 100%;
  font-family: 'Rubik', sans-serif;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  color: black;
  /* background: radial-gradient(circle at 7.5% 24%, rgb(237, 161, 193) 0%, rgb(250, 178, 172) 25.5%, rgb(190, 228, 210) 62.3%, rgb(215, 248, 247) 93.8%); */
}

@font-face {
  font-family: librefranklin;
  src: url('./assets/librefranklin.ttf');
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Start with opacity 0 */
  }
  to {
    opacity: 1; /* End with opacity 1 */
  }
}

#sean-text{
  font-family: librefranklin;
  opacity: 0; /* Set initial opacity to 0 */
  animation: fadeIn 1.5s ease-in-out forwards;
}

.photo {  
  height: 20em;
  width: 21em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  border-radius: 50%;
}
.photo:hover {
  filter: drop-shadow(0 0 2em #000000aa);
}
.photo.react:hover {
  filter: drop-shadow(0 0 2em #000000aa);
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .photo {
    animation: logo-spin infinite 20s linear;
  }
}

@media (max-width: 767px) {

  .photo {
    max-width: 100%;
    height: auto;
  }
  
  h1 {
    font-size: 22px;
    margin-top: 10px;
  }
  
  h3 {
    font-size: 18px;
    margin-top: 10px;
  }
  
  .intro {
    margin-top: 10px;
  }
  
  #modal-btn-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
  }
  .modal-btn {
    display: block;
    margin: 0 auto;
    width: 150px;;
  }
  
  p {
    font-size: 14px;
    margin-top: 10px;
  }

  #tail-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  #viola-img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }
  #video-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }

  iframe {
    max-width: 80%;
    margin-bottom: 10px;
  }

  #skills-box {
    margin-top: -10px;
    max-width: 200px;
  }

}

@media (max-width: 320px) {
  body {
    overflow-x: hidden; /*need this?*/
  }

  #tail-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  #viola-img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }

  #video-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }

  iframe {
    max-width: 50%;
    margin-bottom: 10px;
  }

}

.card {
  color: black;
  padding: 2em;
}

.intro {
  color: black;
}

#main-content {
  display: flex;
  padding: 2em 6em;
  display: flex;
  flex-direction: column;
  margin-bottom: -3em;
}

#intro-div {
  display: flex;
  flex-direction: column;
  width: 20em;
}

.modal-img {
  width: 100px;
}

#modal-div {
  padding: 1.5em;
  display: flex;
  align-items: center;
  
}

.modal-content {
  text-align: left;
}

#viola-img {
  float: right;
  width: 100px;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  border-radius: 50%;
}
#viola-img:hover {
  filter: drop-shadow(0 0 2em #000000aa);
}
#viola-img.react:hover {
  filter: drop-shadow(0 0 2em #000000aa);
}


.modal-btn {
  text-decoration: none;
  border: 1px solid rgb(146, 148, 248);
  margin: 15px;
  position: relative;
  overflow: hidden;
}

.modal-btn:hover {
  box-shadow: 1px 1px 25px 10px 000000aa;
}

.modal-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(146, 148, 248, 0.4),
    transparent
  );
  transition: all 650ms;
}

.modal-btn:hover:before {
  left: 100%;
}


#video-div-wrapper {
  width: 100%;
  overflow: hidden;
}

iframe {
  border-radius: 10%;
}

#skills-box {
  align-self: center;
  margin-top: -10px;
  margin-bottom: 10px;
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  justify-content: flex-end; /* Align content to the right */
  align-items: center;
}

.skills-container {
  display: flex;
  padding: 10px;
  animation: 35s scrollSkills linear infinite;
}

.skill-item {
  min-width: 100px;
  margin-right: 10px;
  padding: 10px;
  background-color: #eee;
  border-radius: 5px;
}

@keyframes scrollSkills {
  0% {
    transform: translateX(100%); 
  }
  100% {
    transform: translateX(-100%); 
  }
}


@media (max-width: 767px) {
  #skills-box {
    margin-top: -10px;
    max-width: 200px;
  }

  .skills-container {
    max-width: 250px;
  }

  .skill-item {
    min-width: 100px;
    margin-right: 10px;
    padding: 10px;
    background-color: #eee;
    border-radius: 5px;
  }

  @keyframes scrollSkills {
    0% {
      transform: translateX(100%); 
    }
    100% {
      transform: translateX(-1000%); 
    }
  }

  
}

@media (max-width: 480px) {
  .skill-item {
    min-width: 90px;
    margin-right: 5px;
    padding: 8px;
    font-size: 14px;
  }

  .skills-container {
    max-width: 150px;
  }

  @keyframes scrollSkills {
    0% {
      transform: translateX(100%); 
    }
    100% {
      transform: translateX(-1000%); 
    }
  }
}







